/RoadService.Tests/bin/Debug/net5.0
/RoadService.Tests/obj/Debug/net5.0
/.vs/RoadStatus/v16/*.suo
/RoadService.Tests/obj
/RoadStatus/bin/Debug/net5.0
/RoadStatus/obj/Debug/net5.0
/RoadStatus/obj
/.vs/RoadStatus/v16/TestStore/0
